<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<div th:replace="~{common/shoulder_fragment::head(title = 'メンバー一覧')}"></div>

<body>

  <!-- ======= Header ======= -->
  <div th:replace="~{common/shoulder_fragment::header}"></div>

  <main id="main" class="main">

    <section class="section dashboard">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8">
          <div class="card info-card revenue-card">
            <div class="filter">
              <a th:href="@{/member}" type="button" class="btn btn-primary">登録</a>
            </div>

            <div class="card-body">
              <h5 class="card-title">メンバー一覧</h5>

              <div th:if="${isSuccess}" class="alert alert-success alert-dismissible fade show" role="alert">
                メンバーを削除しました。
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>

              <div th:replace="~{common/shoulder_fragment::paginationcounter}"></div>

              <!-- Table with stripped rows -->
              <table id="test" class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">名前</th>
                    <th scope="col">メールアドレス</th>
                    <th scope="col">登録日</th>
                    <th scope="col">更新日</th>
                    <th scope="col" style="width: 80px;">削除</th>
                  </tr>
                </thead>
                <tbody id="member-tbody">
                  <tr th:each="members:${membersList}">
                    <th scope="row"><a th:href="@{/member/{id}(id=${members.id})}" th:text="${members.id}">1</a></th>
                    <td><a th:href="@{/member/{id}(id=${members.id})}" th:text="${members.name}">浅井 那奈</a></td>
                    <td th:text="${members.emailAddress}">asai_nana@example.com</td>
                    <td th:text="${#dates.format(members.created, 'yyyy-MM-dd HH:mm:ss')}">2016-05-25</td>
                    <td th:text="${#dates.format(members.updated, 'yyyy-MM-dd HH:mm:ss')}">2016-05-25</td>
                    <td><a th:href="@{/member/delete/{id}(id=${members.id})}" type="button" class="btn btn-danger btn-sm">削除</a></td>
                  </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

              <table id="template" class="table table-striped" style="display: none;">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">名前</th>
                    <th scope="col">メールアドレス</th>
                    <th scope="col">登録日</th>
                    <th scope="col">更新日</th>
                    <th scope="col" style="width: 80px;">削除</th>
                  </tr>
                </thead>
                <tbody>
                  <tr id="template-tr">
                    <th scope="row"><a id="member-id" href="#">1</a></th>
                    <td><a id="member-name" href="#">浅井 那奈</a></td>
                    <td id="member-emailAddress">asai_nana@example.com</td>
                    <td id="member-created">2016-05-25</td>
                    <td id="member-updated">2016-05-25</td>
                    <td><a id="member-delete" type="button" class="btn btn-danger btn-sm">削除</a></td>
                  </tr>
                </tbody>
              </table>

              <div id="btn-more-section" th:if="${pager.totalElements > 10}" class="d-grid gap-2 mt-3">
                <button id="btn-more" class="btn btn-primary" type="button" onclick="callWebAPI();" th:data-sinceid="${sinceId}">もっと見る</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-2"></div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div th:replace="~{common/shoulder_fragment::footer}"></div>
  <script src="/assets/js/home.js"></script>

</body>

</html>